<div class="navbar">
   	<div class="navbar-inner">
       	<div class="container">	
			<nav class="third-navbar" role="navigation">
				<ul class="nav">
				  <li>
				    <%= link_to 'Go Back', :back %>
				  </li>
				  	<% if !results_visible? %> 
					  	<li>
					  		<%= link_to 'Change Bracket', edit_bracket_path(@bracket.id) if @bracket.user_id == session[:user_id] %>
					  	</li>
					 <% end %>
				</ul>
			</nav>
		</div>
	</div>
</div>