	<div class="dialog">
	<%= form_for @membership do |f| %>	
		<div class='control-group form-row'>
			<label for="group_id" class= 'form-label col-lg-2 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-4 col-xs-12'>Group Id</label>
			<input type="text" name="group_id" id="group_id" class='form-input col-lg-3 col-md-4 col-sm-5 col-xs-10'>
		</div>
		<div class='control-group form-row'>
			<label for="passcode" class= 'form-label col-lg-2 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-4 col-xs-12'>Group Passcode</label>
			<input type="text" name="passcode" id="passcode" class='form-input col-lg-3 col-md-4 col-sm-5 col-xs-10'>
		</div>
		<div class='control-group form-row'>
			<label for="user_screen_name" class= 'form-label col-lg-2 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-4 col-xs-12'>Your Screen Name</label>
			<%= f.text_field :user_screen_name, class: 'form-input col-lg-3 col-md-4 col-sm-5 col-xs-10' %>
		</div>
		<div class='control-group center'>
		<%= f.submit "Join Group", class: 'btn-wcb-normal' %>
		</div>
	<% end %>
</div>