	<%= render 'groups/group_buttons' %>
<div class='span12 myform'>

	<%= render 'shared/display_errors', obj: @group %>
	<% if @isprivate %>
		<%= render 'group_join' %>
	<% else %>
		<%= render 'group_join_public' %>
	<% end %>
</div>
