<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to theworldcupbracket.com.</h1>
    <p>
      Please complete the registration process in the following link: <%= @url %>
    </p>
    <p>Thanks for your interest and have a great day!</p>
  </body>
</html>