<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= link_to image_tag('logo.png', :width => '200px'), root_path, :class => 'brand', :id => 'logo' %>
    <br>
    <h2>Hello, <%= @user.fist_name %>!</h2>
    <h2>Welcome to theworldcupbracket.com!</h2>
    <p>
      Your registration is now complete. The dateline to submit your bracket is 15 min prior to kickoff on the inagural game. 

      We incourage you to create groups and invite your friends to play!
    </p>
    <p>Good luck!</p>
  </body>
</html>