<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= image_tag attachments['logo.png'].url, :style => 'width:200px' %> 
    <br>
    <h4>Password Recovery</h4>
    
    Hello, 
    <br>
    <p>
    A password recovery has been requested for your account. </p><br>
    <p> If you submitted this request, you can create a new password in the following link: <%= @url %><br><br>
    <p>
      Thank you!
    </p>

  </body>
</html>