<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= image_tag attachments['logo.png'].url, :style => 'width:200px' %> 
    <br>
    <h2>Welcome to theworldcupbracket.com!</h2><br>
    <p>Hello, <%= @user.fist_name %>!</p>
    <p>
      Your registration is now complete. The dateline to submit your bracket is 15 min prior to kickoff on the inagural game. 

      We incourage you to create groups and invite your friends to play!
    </p>
    <p>Good luck!</p>
  </body>
</html>