<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= image_tag attachments['logo.png'].url, :style => 'width:200px' %> 
    <br>
    <h2>Thank you for joining theworldcupbracket.com.</h2>
    <p>
      Please complete the registration process in the following link: <%= @url %>
    </p>
    <p>Thanks for your interest and have a great day!</p>
  </body>
</html>