<div class='login-background'>
	<div id='login-container' class='dialog'>
		<h4>Register</h4>
		<%= form_tag '/attempt' do %>
				<%= label_tag :email, nil, class: 'form-label' %>
				<%= text_field_tag :email, params[:email] || '', class: 'form-input', autocapitalize: 'off', autocorrect: 'off' %>
			<div class='control-group form-row'>
				<%= submit_tag "Register", class: 'btn-wcb-normal register-button' %>
			</div>
		<% end %>
	</div>
</div>

<script>
	$('body').css({"min-width": "0px"});
</script>