<div class="panel-body register-form">	
	<div class='control-group form-row'>
		<label class='form-label register-label f90'>User Name</label>
		<input class='form-input register-input' id="user-search" type="text"></input>
		<input class='btn-wcb-normal register-button' if="user-search-submit" type="submit" value="Search"></input>
	</div>
</div>