<%= render 'group_buttons' %>
<div class="reportcontainer">
	<%if @groups.empty? %>
		<% if @isprivate %>
			<br>
			<h4 class="center form-instructions">You haven't joined any groups yet. You can join a public group, join a private group if you have the group passcode or create your own group. </h4>
		<% else %> 
			<br>
			<h4 class="center form-instructions">There are no more Public Groups available to join.  </h4>
		<% end %>
	<% else %>
			<div class="well">
				<% if @isprivate %> 
					<%= render 'group_table' %>
				<% else %> 
					<%= render 'group_table_public' %> 
				<% end %>
			</div>
	<% end %>
</div>