<div class='login-background'>
	<div id='login-container' class='dialog'>
		
		<%= form_tag '/recover_password_email' do %>
		<h4>Request New Password</h4>
			<div class='control-group'>
				<%= label_tag :email, nil, class: 'form-label' %>
				<%= text_field_tag :email, params[:email] || '', class: 'form-input' %>
			</div>
			<div class='center'>
				<%= submit_tag "Request New Password", class: 'btn-wcb-normal' %>
			</div>
		<% end %>
	</div>
</div>