<div class='login-background'>
	<div id='login-container' class='register-form'>
		
		<%= form_tag '/recover_password_email' do %>
		<h4 class='register-title register-input'>Request New Password</h4>
			<div class='control-group form-row'>
				<%= label_tag :email, nil, class: 'form-label register-label' %>
				<%= text_field_tag :email, params[:email] || '', class: 'form-input register-input' %>
				<%= submit_tag "Request New Password", class: 'btn-wcb-normal register-button' %>
			</div>
			<div class='control-group form-row'>
				
			</div>
		<% end %>
	</div>
</div>