<div class="display-container">
	<br>
	<h3>How does it work</h3>
	<br>
	<h5>1. You create a bracket to predict the outcome of the World Cup. The bracket starts on the Round of 16.</h5>
	<div class="how-image" id="bracket-empty"></div>
	<h5>2. The game will update your score as the World Cup progresses.</h5>
	<div class="how-image" id="bracket-full"></div>
	<h5>3. You can create private groups to compete with friends or join public groups. You can only create one bracket per account. This bracket will be used to compete in all your groups.</h5>
	<div class="how-image" id="group-full"></div>
	<h5>Ready to Play? <%= link_to 'Register Here', attempt_path %>
</div>

<script>
 	  $('body').css({"min-width": "0px"});
</script>