<div class="display-container">
	<br>
	<h3>Thank you for accessing theworldcupbracket.com</h3>
	<br>
	<h5>Unfortunately, your broswer is not supported by this application.</h5>
	<h5>Please try accessing the site using the following browsers:</h5>
	<h5>1. Google Chrome version 28 or above (recommended)</h5>
	<h5>2. Firefox version 19 or above</h5>
	<h5>3. Safari version 6.0.2 or above</h5>
	<br>
	<h5>We apologize for the inconvenience.</h5>
</div>

<script>
 	  $('body').css({"min-width": "0px"});
</script>