/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.bracket {
	margin: 5px;
	background-color: #24587A!important;
	background-image:none!important;
	border-style:solid!important;
	padding-left:1px;
	padding-right:1px;
	font-size:95%;
	border-width:3px;
	border-color:#9DB2B1;
	border-radius:5%;
	border: 1px solid #373553;
	background-image: -webkit-gradient(linear,0% 0,0% 100%,color-stop(0%,#24587A),color-stop(100%,rgba(14,38,93,0.4)));
	background-image: -moz-linear-gradient(top,#24587A 0,rgba(14,38,93,0.4) 100%);
	background-repeat: repeat-x;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0 0 10px #040307;
	-webkit-box-shadow: 0 0 10px #040307;
	box-shadow: 0 0 10px #040307

}
.off {
	display:none;
}
.on {
	display:block;
}

.header-messages{

}
.warning-message{
	padding:20px;
	position:absolute;
	background-color:white;
	border-style:solid;
	border-color:gray;
	border-radius:4%;
	border-width: 4px;
	width: 300px;
	height:200px;
}
.btn-message {
	text-align:center;
	width:60px;
	height:40px;
	margin-left:40px;
}
.inline {
	display:inline;
	clear:none;
}
.right {
	float:right;
}
.bracket-column {
	width: 14.2%;
	display: inline-block;
	float:left;
	height:100%;
}
.bracket-qf {
	margin-top:45%;
}
.bracket-sf {
	margin-top:90%;
}
.qf {
	height:100%;
/*	position:absolute;
*/}
.sf {
	height:100%;
/*	position:absolute;
*/}
.column-title {
	text-align:center;
	padding:auto;
	color:white;
	font-style:bold;
	font-size:125%;
}
.form-checkbox {
	margin-left:20px!important;
}
.bracketcontainer {
	background-color: white;
	padding-left:25px !important;
	padding-right:25px !important;
	margin:auto;
	margin-top:1px;
	margin-bottom:50px;
	border-radius:10px;
	border-color:#24587A;
	border-style:none;
	clear:right;
	float:right;
	min-width:720px;
	overflow-x:scroll!important;
}
.reportcontainer {
	padding-left:25px !important;
	padding-right:25px !important;
}
.bracket-title {
	text-align:center;
	font-style:italic;
}
.form-label{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:14px;
	font-weight: 200;
	/*margin-left:5%;*/
	text-align:left;
	width: 100%;
	margin-left:25px;
	margin-top:10px;
	margin-bottom:0px;
	color:white;
	/*width:15%;*/
}
.form-country{
	margin-left:20px;
	width:5px;
}
.form-row {
	width:100%;
	clear:both;
}
.center {
	margin:auto;
}
.form-right {
	clear:both;
	margin-top: 20px;
	margin-right:0px;
}
.form-right:nth-of-type(1) {
	margin-top: 100px;
}

#login-container:after {
	height:10px;
	clear:both;
}
.register-form {
	width:80%;
	margin:auto;
}
.body {
	margin:0px;
}
.dropdown-info{
		display: none;
	}
.nav-dropdown {
   background: #595959;
   min-width: 50px;
   min-height: 50px;
   margin-right:25px;
}
@media (min-width: 768px){

	#navbar-collapse-1 {
	width: auto!important;
	}
	.dropdown-info{
		display: inline;
	}
	.nav-dropdown {
   background: #595959;
   min-height: 0!important;
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: white;
   font-size: 13px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   margin-right:40px;
   margin-top:15px;
   border: 1px solid #373553;
	background-image: -webkit-gradient(linear,0% 0,0% 100%,color-stop(0%,#595959),color-stop(100%,rgba(14,38,93,0.4)));
	background-image: -moz-linear-gradient(top,#595959 0,rgba(14,38,93,0.4) 100%);
	background-repeat: repeat-x;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 10px;
	-moz-box-shadow: 0 0 10px #040307;
	-webkit-box-shadow: 0 0 10px #040307;
	box-shadow: 0 0 2px #040307
   }

	.nav-dropdown:hover {
   /*border-top-color: #262626;*/
   background: #262626!important;
   color: #ccc!important;
   }

	.nav-dropdown:active {
   /*border-top-color: #616161;*/
   /*background: #616161;*/
   background: #262626 !important;
   color: #ccc !important;
   }

	.form-label{
		text-align:left;
	}
	.container {
		width: 100% !important;
		padding-left: 0px;
		padding-right: 0px;
	}
	.register-label {
		width: 150px;
		margin-right: 5px;
	}
	.register-input {
		width: 280px;
	}
	.form-error {
		color: red;
		margin-left:155px;
	}
	.register-button {
		margin-left: 285px;
		min-width:80px;
	}
	.register-title {
		text-align: right;
	}

	.login-background {
	background-image: url('background1.jpg');
	min-height:600px;
	background-position:center;
	background-repeat:no-repeat;
	background-size: cover;
	padding-top: 50px;
	}
	.register-form {
		padding-top: 50px;
		width: 700px;
		margin-left:25px;
	}
}
.form-input{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:16px;
	font-weight: 200;
	text-align:left;
	width:350px;
	margin-left:25px;
	color:black;
	margin-bottom: 5px;
	/*width:25%;*/
}
.center{
	text-align:center;
	margin:auto;
}
.form-btn{
	margin-top:10px;
	float:none;
}
.bracket-text {
	color:white;
	font-size:110%;
	font-family:arial;
	margin-left:4px;
	text-align:center;
}
.selected {
	width: 100%;
	border-width:1px;
	background-color:#FF8E00;
	color:black;
	border-color:yellow;
	margin: 5px;
	margin-left:0;
	margin-right:0;
	color:yellow;
	font-family:verdana;
}
.right {
	float:right;
}
.nav li {
	display:inline-block!important;
}
.nav li a {
	display:inline-block!important;
}
.notselected {
	width: 100%;
	border-width:1px;
	background-color:#6A98D3;
	color:black;
	border-color:white;
	margin:5px;
	border-radius:0px!important;
	color:white;
	margin-left:0;
	margin-right:0;
	font-family:verdana;
}

.disabled {
	width: 100%;
	border-width:2px;
	background-color:lightgray;
	color:gray;
	border-color:gray;
	margin:5px;
}
.champion {
	border-width:4px;
	border-color:#FFC173;
}
.icon {
	width:32px;
}
.navbar {
	margin-bottom: 0px !important;
	min-height: 0px;
	border-style: none;
}
.second-navbar{
	font-variant: small-caps;
	font-size: 110%;
	margin-bottom:0px !important;
	background-color:#24587A;
	border-radius:0;
	background-image: -webkit-gradient(linear,50% 0,0% 100%,color-stop(0%,#24587A),color-stop(100%,rgba(14,38,93,0.4)));
	background-image: -moz-linear-gradient(top,#24587A 0,rgba(14,38,93,0.4) 100%);
	background-repeat: repeat-x;
	-moz-box-shadow: 0 0 1px #040307;
	-webkit-box-shadow: 0 0 1px #040307;
	box-shadow: 0 0 1px #040307
}
.second-navbar ul li a {
	color: #D6E4E1;
}
.second-navbar ul li a:hover {
	color: #ffffff;
	background-color: #000000 !important;
}

.third-navbar {
	margin-top:0px !important;
	font-variant: small-caps;
	background-color:#9DB2B1;
	border-radius:0;
	padding-bottom:0;
	background-image: -webkit-gradient(linear,100% 100%,100% 100%,color-stop(0%,#9DB2B1),color-stop(100%,rgba(14,38,93,0.4)));
	background-image: -moz-linear-gradient(top,#9DB2B1 0,rgba(14,38,93,0.4) 100%);
	background-repeat: repeat-x;
	-moz-box-shadow: 0 0 1px #040307;
	-webkit-box-shadow: 0 0 1px #040307;
	box-shadow: 0 0 1px #040307;
	color:#040307;
}
.third-navbar ul li a {
	margin-left: 15px;
	color: #485C5A;
}
.third-navbar ul li a:hover {
	background-color: #000000 !important;
	color: #ffffff;
}
.well {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}
.myform {
	margin-top:50px;
}
.group-select option {
	min-height: 10px;
	font-variant: small-caps;
}
.group-info div {
	font-style:bold;
	font-variant: small-caps;
}
.group-table {
	font-variant: small-caps;
	height: 800px;
	overflow: auto;
}
.overflow-400{
	height: 400px;
	overflow-y: auto;
	overflow-x: hidden;
}
.navheader {
	background-color: #ffffff;
	border-radius: 0px !important;
	border-bottom-color: black;
	border-bottom-width: 3px;
	border-bottom-style: solid;
}
.overflow-header{
	overflow-x: hidden;
}
.overflow-report{
	overflow-x: auto;
}
.report-column {
	width:5%;
}
.stats-table {
	font-variant: small-caps;
	font-style: bold;
	min-width: 480px;
	margin-bottom: 0px;
	font-size: 90%;
	width:95%;
}
.stats-data {
	font-family:helvetica;
	font-style: bold;
	font-variant: small-caps;
	font-size: 90%;
	width:95%;
}
.bracket span {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.bracket-info h4 span {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.main-nav {
	margin-top: 10px;
	font-variant: small-caps;
	margin-bottom:0px;
}
.register {
	background-color: #000000 !important;
	margin-right: 10px !important;
	margin-top: 10px;
	color: white;
}

.btn-wcb-normal {
	background-color: #000000;
	color: white;
	min-width: 100px;
	text-align: center;
	font-family: helvetica;
	font-variant: normal;
	border-style: none;
	height: 40px;
	font-size: 110%;
}
.btn-wcb-normal :hover {
	background-color: #FF8E00 !important;
	min-width: 100px;
	color: yellow !important;
	height: 40px;
}
input[type="submit"]:hover:enabled {
	background-color: #FF8E00 !important;
	min-width: 100px;
	color: yellow !important;
	height: 40px;
}
input[type="submit"]:disabled {
	background-color: darkgray;
	min-width: 100px;
	color: white !important;
	height: 40px;
}
input[type="text"]:disabled {
	color: darkgray;
}
.form-instructions {
	width: 60%;
	margin: auto;
	text-align: center;
}

.bracket-info {
	background-color:#595959;
	color:white;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 1px;
	min-height: 50px;
	border-radius: 10px;
	padding: 5px;
	border-style:solid;
	border-width:1px;
	text-align:center;
	border: 1px solid #373553;
	background-image: -webkit-gradient(linear,0% 0,0% 100%,color-stop(0%,#595959),color-stop(100%,rgba(14,38,93,0.4)));
	background-image: -moz-linear-gradient(top,#595959 0,rgba(14,38,93,0.4) 100%);
	background-repeat: repeat-x;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0 0 10px #040307;
	-webkit-box-shadow: 0 0 10px #040307;
	box-shadow: 0 0 10px #040307
}

.alert-error {
	margin-bottom: 0px !important;
	background-color: white;
	color: red;
	text-align: center;
	font-style: bold;
	padding: 5px;
	width: 34%;
	position:fixed;
	top: 5%;
	left: 33%;
	border-style:solid;
	border-width: 2px;
	border-color: red;
}
.alert-success {
	margin-bottom: 0px !important;
	background-color: white;
	color: blue;
	text-align: center;
	font-style: bold;
	padding: 5px;
	width: 34%;
	position:fixed;
	top: 5%;
	left: 33%;
	border-style:solid;
	border-width: 2px;
	border-color: blue;
}
.alert-keep {
	margin-bottom: 0px !important;
	background-color: white;
	color: green;
	text-align: center;
	font-style: bold;
	padding: 5px;
	width: 34%;
	position:fixed;
	top: 5%;
	left: 33%;
	border-style:solid;
	border-width: 2px;
	border-color: green;
}
.display-container{
	margin-left:5%;
	margin-right:5%;
}
.close {
	color:white !important;
	opacity: 1;
	margin-right: 5px;
}

.close:hover {
	color:gray !important;
	opacity: 1;
}
.close-keep {
	color:black !important;
	opacity: 1;
	margin-right: 5px;
}

.close-keep:hover {
	color:gray !important;
	opacity: 1;
}
.dialog {
	width: 400px;
	padding:5px;
	color: white;
	border: 1px solid #373553;
	background-image: -webkit-gradient(linear,0% 0,0% 100%,color-stop(0%,#2D4C76),color-stop(100%,rgba(14,38,93,0.4)));
	background-image: -moz-linear-gradient(top,#2D4C76 0,rgba(14,38,93,0.4) 100%);
	margin: 0 auto;
	background-repeat: repeat-x;
	text-align: left;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0 0 10px #040307;
	-webkit-box-shadow: 0 0 10px #040307;
	box-shadow: 0 0 10px #040307
}

.register a {
	color: white;
}
.login {
	margin-right: 20px;
	margin-top: 10px;
	color: white;
}
.login a {
	color: white;
}
.front-page-text {
	margin-top: 0px;
}
#user-accordion {
	margin:50px;
}
.logo :hover {
	background-color: white !important;
}
#navbar-collapse-1 {
	width: 50px;
}
.f90 {
	font-size: 90%;
}
.title {
	color:white;
	size: 52px;
	font-family: Luckiest Guy, Impact;
	text-align: center;
}
