<div class="navbar">
   	<div class="navbar-inner">
       	<div class="container">	
			<nav class="third-navbar" role="navigation">
				<ul class="nav">
				  <li>
				    <%= link_to "Go Back", :back %>
				  </li>
				</ul>
			</nav>
		</div>
	</div>
</div>